<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <script src="http://unpkg.com/vue@2.0.3/dist/vue.js"></script> -->
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>

<body>
  <div id="app">
    <h1>{{message}}</h1>
    <ul>
      <li style="list-style:none;" v-for="todo in todos"> {{todo.id}} ) {{todo.text}}</li>
    </ul>
    <hr>
    <ul>
      <li v-for="count in count">loop sebanyak count #{{count}}</li>
    </ul>
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        todos: [{
            text: 'learn vue',
            id: 1
          },
          {
            text: 'like',
            id: 5
          },
          {
            text: 'pelajari sendiri',
            id: 9
          }
        ],
        count: 10
      }
    })
  </script>
</body>

</html>